DEBUG=True
TIME_ZONE=UTC

# Setting postgres for docker
# https://docs.docker.com/samples/library/postgres/
POSTGRES_DB=shop_yen
POSTGRES_USER=binh
POSTGRES_PASSWORD=123456Binh
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Email Import
COLUMN_EXCEL=full_name, birthday, mobile, email